* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #4d4d4d;
    background-color: rgb(245,245,245);
}


h1 {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 50px;
    margin: 1em auto;
    font-weight: 100;
    color: #ead7d7;
}


#top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 3rem;
    font-size: 30px;
    padding: 1em;
}
#top > label{
    opacity: 50%;
}

#todo-title{
    flex: 1;
    height: 3rem;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    font-size: 24px;
    border: none;
} 

#top label {
    margin-left: -1em;
} 

#todo-title::placeholder{
    opacity: 0.25;
    font-style: italic;
}

#todo-title:focus{
    outline: none;
}

#todo-list {
    width: 100%;
    border-top: 1px solid #e6e6e6;
}

ul {
    list-style: none;
}

#todo-list li{
    position: relative;
    display: flex;
    gap: 1em;
    flex-direction: row;
    align-items: center;
    min-height: 2rem;
    font-size: 24px;
    padding: 0 1.1rem;
    border-bottom: 1px solid #ededed;
    overflow: hidden;
}

#top label{
    margin-right: 1rem;
    cursor: pointer;
}


.delete-btn-container {
    position: absolute;
    right: 0;
    margin-right: 0.5rem;
    font-size: 14px;
    opacity: 1.0;
}


#toggle-all{
    opacity: 0;
}

#toggle-all:hover{
    cursor: pointer;
}


#content {
    width: 100%;
    background-color: #fefefe;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}

#todo-list p{
    margin-left: -0.75rem;
    flex-wrap: nowrap;
    width: 80%;
    padding: 0.5rem;
    overflow-wrap: break-word;
}

.todo-item label input[type="checkbox"]{
    margin-left: -1.15rem;
}

#content footer {
    position: relative;
    display: flex;
    align-items: center;
    color: #777;
    height: 40px;
    border-top: 1px solid #e6e6e6;
    text-align: center;
    z-index: 1;
}

@media (min-width: 550px) {
    .paper {
        position: relative;
        height: 40px;
        margin: auto;
        background-color: white;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
    }
    .paper1 {
        z-index: -1;
        top: -2.5em;
        width: 545px;
    }
    .paper2{
        z-index: -2;
        top: -5em;
        width: 535px;
    }

    .info{
        margin-top: 0;
    }

    #content {
        width: 550px;
        margin: auto;
    }

    h1 {
        width: 550px;
        font-size: 100px;
        margin: 0.5rem auto;
    }

    #top {
        width: 550px;

    }

    #todo-list p{
        width: 450px;
    }
}

@media (min-width: 800px) {
    
    #todo-list li:hover .delete-btn-container {
        display: inline-block;
    }
    
    .delete-btn-container {
        display: none;
        opacity: 0.5;
        transition: opacity 150ms ease;
    }
    
    .delete-btn-container:hover{
        cursor: pointer;
        opacity: 1.0;
    }
}


.radio-group{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    flex: 2.5;
}

#itemsLeft, #clear-completed{
    flex: 1;
}

footer input {
    display: none;
}
  
footer label {
    padding: 3px 7px;
    margin: 4px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    transition: border-color 300ms ease, underline 100ms ease;
}

footer li label:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

#clear-completed:hover {
    text-decoration: underline;
}
  
.selected {
    border-color: rgba(175, 47, 47, 0.2);
}

.toggle-all input[type="checkmark"], #checkbox{
    display: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.3;
}

.check-done {
    margin-left: -3px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid #c7c7c7;
}
.completedbox {
    background-image: url(./icons/tick.png);
    background-size: contain;
    border-color: #a6d785;
}

.hidden {
    visibility: hidden;
}

.delete-btn-container > button {
    visibility: hidden;
}

.info {
    margin-top: 2.5em;
    line-height: 3em;
    font-size: 10px;
    text-align: center;
    opacity: 0.8;
}
