
div{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#todo-title{
    width: 25rem;
    height: 3rem;
    font-size: 30px;
    padding: 1rem;
    border-color: lightgray;
    border-style: solid;
}

#todo-title::placeholder{
    opacity: 0.5;
    font-style: italic;
}

#todo-title:focus{
    outline: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0  ;
}

#todo-list li{
    width: 25rem;
    height: 3rem;
    font-size: 30px;
    padding: 1rem;
    border: 2px solid lightgray;
}


